# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.log
*.csv

# venv
env
venv

# other
.DS_Store
.vscode/

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json

#pw files
.deployment
.env
flask.env

#volumes
postgres_db
flask_webapp
nginx_web_server